.dropzone {
    border: 1px dashed #404954 !important;
    border-radius: 14px !important;
    background: #222830 !important
}
.dz-drag-hover {
    border: 1px dashed #0369a1 !important;
    background: #2a3441 !important;
}

.progress-container {
    box-shadow: 0 0 5px #0369a1;
    background-color: transparent;
}

.pro {
    width: 0;
    max-width: 100%;
}

.pro.progress {
    animation: progress 1.65s ease-in-out forwards;
}

@keyframes progress {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

.cursor-pointer-important {
    cursor: pointer !important;
}
