.table-dark {
    @apply w-full divide-y-2 divide-dark-field-border table-auto;

    tbody {
        @apply divide-y divide-dark-field-border;
    }

    .hover-row {
        tr {
            @apply hover:bg-sky-700 cursor-pointer hover:shadow-inner;
        }
    }

    th {
        @apply px-3 py-3 text-left text-sm font-bold text-white;
    }
    td {
        @apply whitespace-nowrap text-sm text-gray-300;

        a, span {
            @apply block w-full h-full px-3 py-2;
        }
    }
}

.pagination-link {
    @apply relative inline-flex items-center justify-center px-2 py-2 text-sm font-medium border border-gray-500
    leading-5 w-[38px] h-[38px] mt-4;
    &-normal {
        @apply pagination-link cursor-pointer bg-dark-field hover:bg-sky-700 hover:text-white text-white;
    }
    &-inactive {
        @apply pagination-link text-gray-500 cursor-default bg-dark-field;
    }
    &-active {
        @apply pagination-link text-white bg-sky-700 cursor-default;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}